# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# VSCode specific files
.vscode/

# macOS specific files
.DS_Store

# C++ build artifacts
backend/build/
backend/*.o
backend/*.obj
backend/*.exe
backend/*.out
backend/*.a
backend/*.so
backend/*.dll
backend/*.dylib

backend/.cache/

# CMake
backend/CMakeCache.txt
backend/CMakeFiles/
backend/CMakeScripts/
backend/cmake_install.cmake
backend/Makefile
backend/install_manifest.txt
backend/compile_commands.json
backend/CTestTestfile.cmake
backend/_deps/

# Debug files
*.dSYM/
*.pdb
*.ilk

# IDE files
*.vcxproj*
*.sln
*.suo
*.user

# Ignore Claude files
.claude/
CLAUDE.md
CLAUDE/