# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

# VSCode specific files
.vscode/

# macOS specific files
.DS_Store

# Ignore Claude files
.claude/
CLAUDE.md
CLAUDE/